
@font-face {
    font-family: 'Calling Code Regular';
    src: url('fontes/Calling\ Code\ Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Monofonto RG';
    src: url('fontes/Monofonto\ RG.otf');
}



body{
    
    background-color: rgba(245, 222, 179, 0.623);
    margin: 10px;
    padding: 5px;
    
}



header{
    font: normal 18px 'Monofonto RG';
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}



section{
    font: normal 16px 'Calling Code Regular';
    background-color: white;
    max-width: 800px;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.29);
}



img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 10px;  
}


footer{
    font: normal 12px 'Calling Code Regular';
    color: black;
    text-align: center;
    text-decoration: overline;
    padding: 100px;

}
